body{
	margin: 0px;
	background-color: rgba(10,10,10,0.3);
}

p{
	font: italic 30px comicsansms;
}

h2{
	margin: 0px;
}

.container{
	width: 80%;
	background: rgba(255,0,0,0.5);
	margin: auto;
	padding-bottom: 40%;
}

.container p{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.page-text{
	margin: 0px;
}

header h1{
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
}

.header-h1{
	color: white;
	background-color: black;
}

.header-nav{
	background-color: rgba(20,20,20,0.8);
	padding-top: 10px;
	padding-bottom:25px;
}

.header-lists{
	list-style: none;
	margin:0px;
}

.header-lists li{
	display: inline;
	width: 20%;
	text-align: center;
}

.header-list1, .header-list2, .header-list3, .header-list4{
	float: left;
}

.header-list5{
	float: right;
}

.header-lists a{
	text-decoration: none;
	color: white;
}

.background{
	color:rgb(30,30,30);
	text-align: center;
}

.background h2{
	font: bold 40px Arial;
	padding: 10px 0px;
}

.portrait-image{
	display: block;
	margin: auto;
	padding-bottom: 10px;
	width: 40%;
}

.game-lists{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.game-lists li{
	display: inline;
	background-color: rgba(50,50,50,0.3);
	width: 33.333%;
}

.game1-item, .game2-item{
	float:left;
}

.game3-item{
	float:right;
}

.game-lists img{
	width: 100%;
}

.info-box{
	text-align: center;
	padding: 30px 10px;
}

.game1-screen{
	background-color: #666;
	height: 500px;
}

.footer{
	background-color: black;
}

.footer-row{
	display: grid;
	grid-template-columns: repeat(3, 33.3333%); 
	height: 100px;
}

.footer li{
	text-align: center;
}


.footer a, .footer p{
	text-decoration: none;
	color:white;
	text-align: center;
}

.footer-nav, .footer-center, .footer-media{
	border: 2px solid green;
}

.footer-lists, .footer p{
	margin: 0px;
	padding: 0px;
}